/**
*/

.board-wrapper {
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 40px;
  bottom : 40px;
  background-color: #fff;
  scroll-behavior: smooth;
  will-change: scroll-position;
}

.board-container {
  margin: 0 auto 0;
  transform: translate3d(0, 0, 0);
  min-height: 100%;
  scroll-behavior: smooth;
  will-change: scroll-position;
}

.board-container .grid-cell {
  aspect-ratio: 1 / 1;
  height: 100%;
  z-index: 1;
  filter: grayscale(0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.board-container .grid-cell.row-name {
  color: #222;
  opacity: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  text-transform: uppercase;
  background: #fff;
  z-index: 2;
  font-family: 'Allerta Stencil', sans-serif;
  box-shadow: 0 0 0 2px #fff;
}

.board-container .grid-cell.row-name.row-letter {
    top: 0;
}


.board-container .grid-cell.row-name.row-number {
  position: sticky;
  left: 0;
  top: unset!important
}

.board-container .grid-cell.top-corner {
    top: 0;
    left: 0;
    z-index: 2;
}
.board-container .grid-cell.row-name span {
  text-transform: uppercase;
  font-size: var(--font-size-small);
  font-weight: 500;
  font-family: "IBM Plex Mono";
}
.board-container .grid-cell.row-name.col {
  top: 0;
}
.board-container .grid-cell.row-name.row {
  left: 0;}
.board-container .grid-cell.selected,
.board-container .grid-cell.start,
.board-container .grid-cell.top,
.board-container .grid-cell.intermediate,
.board-container .grid-cell.foot {
  opacity: 1;
  filter: grayscale(0);
}
.board-container .grid-cell.start:after,
.board-container .grid-cell.intermediate:after,
.board-container .grid-cell.top:after,
.board-container .grid-cell.selected:after,
.board-container .grid-cell.foot:after,
.board-container .grid-cell.start:before,
.board-container .grid-cell.intermediate:before,
.board-container .grid-cell.top:before,
.board-container .grid-cell.selected:before,
.board-container .grid-cell.foot:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  content: "";
  box-shadow: 0 0 0 2px var(--color-intermediate);
  z-index: 1;
  aspect-ratio: 1/1;
  font-size: 0;
  background: transparent;
}

.board-container .grid-cell.top:before,
.board-container .grid-cell.intermediate:before,
.board-container .grid-cell.foot:before,
.board-container .grid-cell.start:before,
.board-container .grid-cell.selected:before {
    animation: ripple 2s ease-in-out infinite forwards;
}


.board-container .grid-cell.start:after,
.board-container .grid-cell.start:before {
  box-shadow: 0 0 0 2px var(--color-start);
}
.board-container .grid-cell.top:after,
.board-container .grid-cell.top:before {
  box-shadow: 0 0 0 2px var(--color-top);
}

.board-container .grid-cell.foot:after,
.board-container .grid-cell.foot:before {
  box-shadow: 0 0 0 2px var(--color-foot);
}

.board-container .grid-cell span:after,
.board-container .grid-cell span:before {
	pointer-events: none;
}

.board-container .grid-cell.intermediate span:after,
.board-container .grid-cell.foot span:after,
.board-container .grid-cell.selected span:after,
.board-container .grid-cell.start span:after,
.board-container .grid-celltop span:after {
	position: absolute;
	top: -0.75rem;
	height: 0.75rem;
	width: 100%;
	font-size: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-50%);
	color: #000;
	font-weight: bold;
	border-radius: 2px;
	text-transform: uppercase;
	z-index: 1;
}

.board-container .grid-cell span.tip-below:after {
	top: unset;
	bottom: -0.75rem;
}
.board-container .grid-cell.intermediate span:after {
	background: var(--color-intermediate);
	content: 'inter.';
}

.board-container .grid-cell.start span:after {
	background: var(--color-start);
	content: 'start';
}

.board-container .grid-cell.foot span:after {
	background: var(--color-foot);
	content: 'foot';
}

.board-container .grid-cell.top span:after {
	background: var(--color-top);
	content: 'top';
}

.board-wrapper canvas {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}


@keyframes ripple {
  0% {
      transform: translate3d(-50%, -50%, 0) scale(1);
      opacity: 1;
  }
  100% {
      transform: translate3d(-50%, -50%, 0) scale(1.25);
      opacity: 0;
  }
}

.board-container.pcb {
  background-image: url("../images/bgr_pcb.jpg");
  background-size: cover;
  position: relative;
}

.board-container.kantti {
  background-image: url("../images/bgr_kantti.jpg");
  background-size: cover;
  position: relative;
}

.board-container.kantti:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom,
	rgba(0,0,0,0) 0,
	rgba(0,0,0,.07)
	);
  pointer-events: none;
  z-index: -1;
  top: 0;
  left: 0;
}

.board-container.pattice {
	background-image: url("../images/bgr_pattice.jpg");
	background-size: cover;
	position: relative;
  }

.board-container.moistyboi {
	background-image: url("../images/bgr_moistyboi.jpg");
	background-size: cover;
	position: relative;
  }



.board-container.pcb:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	background: linear-gradient(to bottom,
		rgba(0,0,0,0) 0,
		rgba(0,0,0,0.01) 20.5%,
		rgba(0,0,0,0.3) 20.5%,
		rgba(0,0,0,.03) 20.6%,
		rgba(0,0,0,.04) 41.5%,
		rgba(0,0,0,.4) 41.5%,
		rgba(0,0,0,.06) 41.6%,
		rgba(0,0,0,.07)
		);
	pointer-events: none;
	z-index: -1;
	top: 0;
	left: 0;
}
