footer {
    background: var(--color-theme-background-dark);
    color: var(--color-white-dim);
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    & > nav {
      height: 40px;
      padding: 0 var(--padding-base);
      font-family: 'Roboto';
      font-size: var(--font-size-bodytext);
      text-transform: uppercase;
      position: relative;
      display: flex;
      justify-content: space-evenly;

      & a.more {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        min-width: 40px;
        position: absolute;
        right: 0;

        & > span {
          align-items: center;
          background: transparent;
          color: var(--color-white);
          display: flex;
          flex-direction: column;
          font-size: var(--font-size-base);
          height: 40px;
          justify-content: center;
          width: 40px;
        }

        & :hover,
        & :active,
        & :focus {
          background: var(--color-theme-accent-1-alpha);
          color: var(--color-white);
        }
      }
    }

    & .nav-bottom-links {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-self: center;
      width: 80%;
      color: var(--color-white);
      height: calc( 100% - 8px );

      & .link-container {
        font-size: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 25%;

        &.disabled {
          opacity: 0.4;
        }

        & svg {
          height: var(--padding-base);
          stroke: var(--color-white);
          stroke-width: 1.5;
          fill: none;
        }

        &:active svg,
        &.active svg {
          stroke: var(--color-theme-accent-1);
        }

        &.keep-selected svg {
          color: var(--color-theme-accent-1);
          stroke: var(--color-theme-accent-1);
        }
      }

      & .keep-selected {
        color: var(--color-theme-accent-1);
        stroke: var(--color-theme-accent-1);
      }
    }
  }
