.header-flex {
    display: flex;
    text-transform: uppercase;
    font-weight: 300;
    font-size: var(--font-size-small);
  }

.header-flex DIV {
  width: 50%;
  text-align: right;
  padding-right: 5px;
}

.header-flex DIV:nth-of-type(2) {
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
}

.page-history {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 'header' 'History';
  position: relative;
}
.history-container {
  overflow: auto;
  padding: 0 var(--padding-base)
}

.score {
  font-family: 'IBM Plex Mono';
  font-weight: 300;
}

.session-tick-container {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
  padding: 0 var(--padding-base) var(--padding-base-half);
  color: var(--color-white);
  overflow: hidden;
  margin: var(--padding-base);
  font-size: var(--font-size-base);
}

.session-header {
  padding: var(--padding-base-half);
  background: rgba(255, 255, 255, 0.05);
  margin: 0 var(--padding-base-negative) var(--padding-base-half);
}

.session-tick {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-base-half);
}

.session-tick:nth-of-type(even) {
  background: var(--color-theme-color1-accent);
}

.session-tick > .tick-grade {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.session-tick > .tick-routename {
  width: 50%;
}

.session-tick > .tick-ascenttype {
  text-transform: capitalize;
  width: 30%;
  text-align: right;
}

.session-tick > .tick-ascentscore {
  text-align: right;
  font-family: 'IBM Plex Mono';
}
