.header-flex {
    display: flex;
    text-transform: uppercase;
    font-weight: 300;
    font-size: var(--font-size-small);
  }
  
  .header-flex DIV {
    width: 50%;
    text-align: right;
    padding-right: 5px;
  }
  
  .header-flex DIV:nth-of-type(2) {
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
  }
  
  .grade-legend {
    background: #0f8;
    color: #fff;
    width: 25px;
    display: inline-flex;
    border-radius: var(--padding-base);
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-small);
    max-width: 6ch;
    text-transform: uppercase;
    line-height: 1rem;
    height: 1.25rem;
  }
  
  .grade-legend.gray {
    background: rgb(128, 128, 128);
    color: #fff;
  }
  .grade-legend.yellow {
    background: rgb(255, 222, 0);
    color: #000;
  }
  .grade-legend.green {
    background: rgb(64, 222, 61);
  }
  .grade-legend.orange {
    background: rgb(255, 128, 0);
  }
  .grade-legend.red {
    background: rgb(255, 0, 0);
  }
  .grade-legend.blue {
    background: rgb(32, 64, 222);
  }
  .grade-legend.purple {
    background: rgb(255, 0, 255);
  }
  .grade-legend.pink {
    background: rgb(255, 0, 128);
  }
  .grade-legend.black {
    background: rgb(32, 32, 32);
  }
  .grade-legend.white {
    background: rgb(2555, 32255, 255);
    color: #000;
  }
  
  .page-history {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 'header' 'History';
    position: relative;
  }
  
  .history-content {
    overflow: hidden;
    position: relative;
  }
  
  .no-history {
    text-transform: none;
    text-align: center;
    font-family: 'IBM Plex Mono';
    text-transform: uppercase;
  }
  
  .score {
    font-family: 'IBM Plex Mono';
    font-weight: 300;
  }
  
  .session-tick-container {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.05);
    padding: 0 var(--padding-base) var(--padding-base-half);
    color: var(--color-white);
    overflow: hidden;
    margin: var(--padding-base);
    font-size: var(--font-size-base);
  }
  
  .session-header {
    padding: var(--padding-base-half);
    background: rgba(255, 255, 255, 0.05);
    margin: 0 var(--padding-base-negative) var(--padding-base-half);
  }
  
  .session-tick {
    display: flex;
    justify-content: space-between;
    margin: 7.5px 0;
  }
  
  .session-tick > .tick-grade {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  .session-tick > .tick-ascenttype {
    width: 30%;
  }
  
  .session-tick > .tick-actions {
    text-align: right;
  }
  
  .session-tick > .tick-actions .btn {
    display: inline-block;
    margin-left: 4px;
    margin-right: 1px;
  }
  