.grade-legend {
    background: #0f8;
    color: #fff;
    width: 25px;
    display: inline-flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-small);
  }
  
  .grade-legend.gray {
    background: rgb(128, 128, 128);
    color: #fff;
  }
  .grade-legend.yellow {
    background: rgb(255, 222, 0);
    color: #000;
  }
  .grade-legend.green {
    background: rgb(64, 222, 61);
  }
  .grade-legend.orange {
    background: rgb(255, 128, 0);
  }
  .grade-legend.red {
    background: rgb(255, 0, 0);
  }
  .grade-legend.blue {
    background: rgb(32, 64, 222);
  }
  .grade-legend.purple {
    background: rgb(255, 0, 255);
  }
  .grade-legend.pink {
    background: rgb(255, 0, 128);
  }
  .grade-legend.black {
    background: rgb(32, 32, 32);
  }
  .grade-legend.white {
    background: rgb(2555, 32255, 255);
    color: #000;
  }

  .legend {
    background: var(--color-redpoint);
    border-radius: 2px;
    color: var(--color-white);
    display: inline-block;
    font-family: 'IBM Plex Mono';
    font-size: 0.75rem;
    font-weight: 400;
    height: 1rem;
    line-height: 1rem;
    padding: 0 3px;
    min-width: 2ch;
    text-align: center;
    text-transform: uppercase;
  }

  .legend-flash {
    background: var(--color-flash);
    color: var(--color-black)
  }