<h3>Button</h3>

<span class="example-title">Default</span>
<div class="example-container">
  <ds-button>Default</ds-button>  
</div>

<span class="example-title">OnClick </span>
  <div class="example-container">
    <ds-button 
      onclick="( () => { 
        if(!isNaN(this.clicks)) {
          this.clicks+=1; 
          this.dataset.clicks = this.clicks;
          this.shadow.querySelector('BUTTON').innerText = `onclick ${this.clicks}`;
          if( this.clicks % 2 ) {
            this.shadow.querySelector('BUTTON').classList.add('clicked');
            }
          else {
            this.shadow.querySelector('BUTTON').classList.remove('clicked')
          }
          } 
        } )()"
      data-clicks=0
      >
      onclick 0
  </ds-button>
</div>

<span class="example-title">Diffeent sizes</span>
<div class="example-container">
  <ds-button>Default</ds-button>
  <br />
  <ds-button class="small">Small</ds-button>
  <br />
  <ds-button class="tiny">Tiny</ds-button>
</div>

<span class="example-title">Colors</span>
<div class="example-container">
  <ds-button>Default</ds-button><br />
  <ds-button class="transparent">Transparent</ds-button><br />
  <ds-button class="bordered nakki kakki">Bordered</ds-button><br />
  <ds-button class="theme-orange">Orange</ds-button>
</div>